<!DOCTYPE html>
<html>
 <head>
   <title>ProShare - Journalling App</title>
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <%= csrf_meta_tags %>
   <%= csp_meta_tag %>

   <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
   <%= javascript_importmap_tags %>
 </head>

 <body>
  <%= render '/shared/navbar' %>

  <!-- Content area below the navbar -->
  <div class="content" id="content">
    <%= yield %> <!-- Main content here -->

    <!-- Sidebar -->
    <%= render 'shared/sidebar' %>
  </div>
 </body>
</html>
