<div class="navbar">
  <div class="left-col navbar-link">
    <%= link_to image_tag("ps_logo.png", id: "toggleSidebar", alt: "ProShare Logo"), "#", class: "sidebar-toggle" %>
  </div>
  <div class="center-col">
    <%= link_to "Create new entry", new_entry_path %>
     User - <%= current_user.first_name.first %><%= current_user.last_name.first %> <!-- Display initials -->
  </div>
  <div class="right-col">
    <% if user_signed_in? %>
        <div class="sign-out-button">
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
        </div>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
