<div class="entry-container">
  <h1 class="sr-only"><%= @entry.name %></h1>
  <div class="entry-details">
    <p><%= @entry.content %></p>
    <p><strong>Link:</strong> <%= @entry.link %></p>
    <p><strong>Owner:</strong> <%= @entry.user || "Unknown User" %></p> <!-- Display "Unknown User" if no user is associated -->
  </div>

  <div class="entry-form">
    <h2>Edit Entry</h2>
    <%= form_with(model: @entry, method: :patch, class: "edit-entry-form") do |form| %>
      <div class="form-group">
        <%= form.label :name, "Entry Name", class: "form-label" %>
        <%= form.text_field :name, class: "form-input" %>
      </div>

      <div class="form-group">
        <%= form.label :link, "Entry Link", class: "form-label" %>
        <%= form.text_field :link, class: "form-input" %>
      </div>

      <div class="form-actions">
        <%= form.submit "Update Entry", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <% if @entry.user == current_user %>
      <h2>Share Entry</h2>
      <%= form_with(url: share_entry_path(@entry), method: :post, local: true) do |form| %>
        <div>
          <%= form.label :user_id, "Share with:" %>
          <%= form.select :user_id, options_from_collection_for_select(@users, :id, :email), prompt: "Select a user" %>
        </div>

        <div>
          <%= form.submit "Share Entry" %>
          <% if flash[:notice] %>
            <span class="success-message"><%= flash[:notice] %></span>
          <% end %>
        </div>
      <% end %>

  <% else %>
    <p><em>This entry is read-only.</em></p>
  <% end %>

  <div class="entry-navigation">
    <%= link_to "Back to Entries", entries_path, class: "button" %>
    <%= link_to "View Entry", @entry, class: "btn btn-info" %>
  </div>
</div>
